<div class="container">
    <div class="con-8 mr-auto">
        <form method="Post" action="/auth/signin">
            <div>
                <lable>Username</lable>
                <input name="email" placeholder="email@email.com"/>
            </div>
            <div>
                <lable>Password</lable>
                <input name="password" type="password" placeholder="******"/>
            </div>
            
            <button class="btn btn-auth" type="submit">Sign In</button>
        </form>
    </div>
</div>