<div class="container">
  <div class="mr-auto con-8">
    <form method="POST" action="/auth/signup"></form>
      <div>
        <label>First Name</label>
        <input name="firstname" type="text" />
      </div>

      <br>

      <div>
        <label>Last Name</label>
        <input name="lastname" type="text" />
      </div>

      <br>

      <div>
        <label>Email</label>
        <input name="email" type="email" />
      </div>

      <br>

      <div>
        <label>Password</label>
        <input name="password" type="password" />
      </div>

      <br>

      <div>
        <button class="btn btn-auth" type="submit">Sign Up</button>
      </div>

    </form>
  </div>
</div>